@import "tailwindcss";

/* FORZAR DARK MODE POR CLASE */
@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* LIGHT MODE */
html:not(.dark),
html:not(.dark) body,
html:not(.dark) #root {
  background: #f8fafc;
  color: #0f172a;
}

/* DARK MODE */
html.dark,
html.dark body,
html.dark #root {
  background: #0b1220;
  color: #e2e8f0;
}